.Country {
    color: white;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.Country-title {
    font-size: 2.5vw;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 0%;
}

.Country-selector {
    color: black;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;;
}

.Country-size {
    width: 30%;
    display: inline-block;
}