.Body {
    color: white;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.Body-title {
    font-size: 2.5vw;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0%;
}

.Body-row {
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-block;
    width: 100%;
}

.SideMargin {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
    width: 94%;
}

.Body-5-cell {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.Body-4-cell {
    display: inline-block;
    width: 23%;
    padding-left: 1%;
    padding-right: 1%;
}

.BigNumber {
    font-size: 4vw;
}

.RedText {
    color: #FF91C5;
}

.YellowText {
    color: #FFCD5E;
}

.BlueText {
    color: #78A5FF;
}

.GreenText {
    color: #6BFF6E;
}