.Header {
    background-color: #212d74;
    text-align: left;
    font-size: 1.2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-right: 1%;
}

.Header-left {
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    width: 30%;
}

.Header-middle {
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    width: 40%;
}

.Header-right {
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    padding-right: 1%;
    width: 30%;
}

.Header-image {
    padding-left: 1%;
    height: 60px;
}

.Header-title {
    color: white;
    font-size: 2vw;
}

.Header-icon {
    padding-left: 1%;
    height: 30px;
    fill: white;
}

.Header-loader {
    padding-left: 5%;
}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
    color: #444444;
    border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
    color: #444444;
    width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
    margin-left: -198px;
}